@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

#centratura {
    width: 80%;
    margin: 0 auto;
}

header {   
    margin: 0px;
    height: 80px;
    /* regole degug */
   /*  background-color: rgb(216, 106, 124); */
}

.nav_jumbotron {   
    margin: 15px 0;
}

main {
    margin: 15px 0;
    /* regole degug */
    background-color: blue;
}

#titolo-main {
    height: 70px;
    margin: 30px 0 0;
}

aside {   
    margin: 2% 0 2%;
    width: 15%;
    /* regole degug */
    background-color: lightblue;
    height: 300px;
    float: left;
}

section {
    width: 66%;
    margin: 2% 2% 2%;
    /* regole degug */
    background-color: lightblue;
    height: 300px;
    float: left;
}

footer {
    margin: 15px 0;
    height: 70px;
    /* regole degug  */
    background-color: blueviolet;
} 
 

/* header */
#container-logo {
    border-right: solid 1px grey;
    height: 60px;
    width: 13.3%;
    
}

#container-logo img {
    height: 60px;
}
/* /header */


/* nav */
.menu {
    padding: 0px 50px 0px 0px;
}

.menu-item {
    display: inline-block;
}

.sotto-menu {
    display: none;
    position: absolute;
}

.menu-item > a {
    text-decoration: none;
    padding: 0 20px 0 0;
    font-size: 20px;
    color: grey;
}

.sotto-menu-item > a {
    text-decoration: none;
    font-size: 13px;
    padding-left: 0px;
    color: dimgrey;
}

li {
    list-style-type: none;   
}

#menu-item5 #shop:target {
    display: block;
}

#menu-item6 #contact:target {
    display: block;
}
/* /nav */

/* jumbotron */
#img-jumbotron {
    width: 100%;
    height: 420px;
    background-image: url(../img/banner.jpg);
    object-fit: cover;
    background-size: 80%;
    background-position: center ;
    margin: 30px 0 20px;
    border-radius: 10px;
}

.layover {
    background-color: rgba(75, 75, 75, 0.4);
    height: 100%;
    position: relative;
    border-radius: 10px;
}

#testo-jumbotron {
    color: white;
    position: absolute;
    left: 45px;
    bottom: 65px;
    width: 50%;
}

#testo-jumbotron h3 {
    font-size: 30px;
    font-weight: normal;
}
/* /jumbotron */


/* titolo main */
#titolo-main h2 {
    font-size: 35px;
}

#titolo-main span {
    font-size: 15px;
    color: grey;
}
/* /titolo main */


/* aside left */
/* aside left */


/* aside right */
/* aside right */


/* middle section */
/* middle section */



